.about-us{
	font-family: Montserrat-Regular;
	.text-holder{
		display: inline;
		position: relative;
		text-align: right;
		float: right;
		width: 50%;
		margin: 0 30px;
		span{
			font-size: 14px;
		}
		h3{
			font-family: Montserrat-Bold;
			font-size: 32px;
		}
		p{
			padding-bottom: 25px;
		}
		a{
			background-color: #16d428;
			color: #fff;
			padding: 10px 15px;
			border-radius:50px;
			bottom:0;
		}
	}
	.medal-holder{
		width: 458px;
		height: 255px;
		background-image: url("../img/handshake.png");
		float: right; 
	}
}