.our-blog{
		.our-blog-grid{
			display: grid;
			grid-template-rows: 1fr;
			grid-template-columns: 1fr 1fr;
		}
		.our-blog-main-content{
		font-family: Montserrat-Regular;
		.our-blog-head{
			overflow: hidden;
			padding: 10px 10px;
		}
		.our-blog-left{
			float: left;
		}
		.our-blog-right{
				float: right;
			a{
				color: grey;
				border: 2px solid grey;
				border-radius: 50px;
				padding: 5px 10px;
				margin: 0 10px;
			}
			a:hover{
				color: #343a3b;
				border: 2px solid orange;
				border-radius: 50px;
			}
			
		}
		}
		.our-blog-bg{
		background-image: url("../img/tablet.png");
		background-position: center;
		background-repeat: no-repeat;
		
		}

}