.top{
	height: 104px;
	h1{
		float: left;
		margin-top: 20px;
	}
	nav{
		float: right;
		margin-top: 46px;
		a{
			text-transform: uppercase;
			color: #262829;
			font-family: Montserrat-Regular;
			font-size: 16px;
			padding-left: 16px;
		}
		.active{
			color: #ffac55;
		}
		a:hover{
			color: #ffac55;
		}
	}	
}